@import "../base/fn";

.swiperwrapper {
    position: relative;
    padding: 1px 0;
    background-color: @weuiCellBg;
    overflow: auto;
    &:before {
        .setTopLine(@weuiCellBorderColor);
    }
    &:after {
        .setBottomLine(@weuiCellBorderColor);
    }
}

.swiper {
    height: 100%;
    overflow: hidden;
    transition: all 0.3s ease;


}
.swipernav{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20px;
    margin-right: 10px;

    .bullet{
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: rgba(138, 138, 138, 0.25);
        display: inline-block;
        margin: 3px 1px;

        &.active{
            background-color: @monokaiGreen;
        }
    }
}
.item {
    height: 100%;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    float: left;

    &.active{
        .animated{
            animation-fill-mode: both;
            opacity: 1;
        }
    }
    &:not(.active){
        .animated{
            animation: none;
            opacity: 0;
        }
    }
}

.item{
    color: @globalTextColor;
    background-color: @weuiCellBg;
}
